	{% extends "lab_4/layout/base.html" %}

    {% block content %}
	<style>
	.font-style{
		font-size: 20px
		font-family: Rockwell;
		font-weight: bold;
		color: #ff0040;
		}
	
	.circle-image{
		border-radius: 50%;
		width: 300px;
		height: 350px;
		}
		
	
	</style>	
    <h1 class='font-style'>Portofolio</h1>

	<img src='https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/21078867_1674706949238333_4785560388427860565_n.jpg?oh=aba86e59f8bbf7fa9c3472d916560aa2&oe=5A3AF322', class='circle-image'>
    
	<hr/>
    <section name="bio">
        <h2 class='font-style'>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2 class='font-style'>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	
	<section name="form">
        <h2 class='font-style'>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
	
	<section name="form">
        <h2 class='font-style'>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
