{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }

	
	p {
	font-size: 30px
	}	
</style>
<div class="center_screen">
    <p class="status" id="test">This is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}
